.bolder {
  padding: 8px;
  font-weight: bold;
  color: white;
  background-color: #427fef;
}

tr {
  border-collapse: collapse;
}

.data:nth-child(even) {
  background-color: #eef7ff;
}

table {
  border-collapse: collapse;
  width: 400px;
  height: 200px;
}

th {
  text-align: left;
}
